* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --header-bg: #10375c;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    color: #fff;
    background: #2e80ce;
    padding: 0 20px;
    height: var(--height);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid #2e80ce;
    min-width: 205px;
    text-align: center;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

/* Header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    font-size: 1rem;
}

.logo__circle {
    display: flex;
    text-align: center;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}
.header-action_login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.header-action_login:hover,
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action_sign-up:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header-action_sign-up {
    --height: 44px;
    min-width: 104px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action_login {
    margin-right: 7px;
}

/* Hero */
.hero {
    align-items: center;
    margin-top: 76px;
    display: flex;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.book-online:hover {
    opacity: 0.9;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    align-items: center;
    display: flex;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */

.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    display: flex;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* service item */

.service__item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service__item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__icon {
    background: #2e80ce;
    color: #fff;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    color: #10375c;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.all-services:hover {
    opacity: 0.9;
}

/* WORK */
.Work {
    margin-top: 100px;
    background: #f6fbff;
    padding: 100px 135px;
}

.work__content {
    width: 468px;
}

.work__heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px;
    color: #10375c;
}

.work__desc {
    margin: 18px 0 70px 0;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #575f66;
}

.work__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 70px;
}

.work__card {
    width: 370px;
    padding: 42px;
    background: #ffffff;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
}

.work__card:hover {
    border-color: #2e80ce;
}

.work__icon {
    margin-bottom: 18px;
}

.work__card--heading {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    color: #10375c;
}

.work__card--desc {
    width: 254px;
    margin-top: 28px;
    margin-bottom: 18px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #575f66;
}

.work__card--learn {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #575f66;
}

.work__card--learn:hover {
    border-bottom: #2e80ce solid 2px;
    color: #2e80ce;
}

/* About */

.about {
    margin: 170px 0;
}

.about__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
}

.about__img--1 {
    position: absolute;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.about__img--2 {
    position: relative;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.about__img--2 {
    margin: 121px 0 0 238px;
}

.about__content {
    width: 470px;
    height: 326px;
}

.about__heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #10315c;
}

.about__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    color: #575f66;
}

.about__btn {
    margin-top: 38px;
}

.about__btn:hover {
    opacity: 0.9;
}

/* Team */
.team {
    margin-top: 170px;
}

.team__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #10315c;
}

.team__btn {
    margin-top: 38px;
}

.team__our {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 34px;
}

.team__background {
    padding-top: 28px;
    width: 270px;
    height: 318px;
    background: #eaf6ff;
}

.team__member--doctor {
    width: 262px;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
}

.team__name {
    margin-left: 67px;
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #10375c;
}

.team__name--content {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #575f66;
}

.team__control {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}

.team__control--btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.5s;
}

.team__control--btn:hover{
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
}

.team__control--next{
    rotate: 180deg; /* Xoay 180 
}